body{
    margin:0;
    background-color: #1da0a0;
}

#notapyramid{
    color:rgb(0, 0, 0);
}

#signup{
    color:rgb(0, 0, 0);
} 

#getmoney{
    color:rgb(0, 0, 0);
} 

#testimonial{
    color:#000000;
}

.top{
    background-image: url('../img/pexels-john-guccione-wwwadvergroupcom-3483098.jpg');
    width:100%;
    height:50vh;
    background-size:cover;
    background-position: center;
}