header{
/*background-color:aliceblue;*/
background-image: url('/img/graveyard back.jfif');
}

body{
    margin:0;
    background-color:aliceblue;
}

footer{
    /*background-image: url('/img/graveyard back.jfif');*/
    background-color: rgb(31, 30, 30);
    /*padding-top:12px;*//*this this adds a space between the top of the footer line and any objects in the footer*/
    /*padding-bottom: 12px;
    padding: 60px;
    height: 400px;*/
    }

#outrotext{
    color:rgb(255, 255, 255);
}


#search{
    color: rgb(255, 255, 255);   
} 

#terror{
    color:rgb(255, 255, 255);
}

#login{
    color:rgb(255, 255, 255);
    /*font-family: Tisa;*/
} 

#getstarted{
    color:rgb(255, 255, 255);
}


.page1{
    width: 100%;
}
.top{
    background-image: url('../img/Man-with-Well-Groomed-Beard.jpg');
    width:50%;
    height:50vh;
    background-size:cover;
    background-position: left;
    /*position: fixed;*/
    
    float: left;
}

.bottom{
    background-image: url('/img/graveyard back.jfif');
    width:50%;
    height:50vh;
    background-size:80%;
    background-position: center;
    float: right; 
}

.nav-logo{
    display: flex;
    align-items: center;               
}   

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    background-color: rgb(31, 30, 30);


    /* ;
    
    padding-right: 40px;
    margin-left:auto;
    margin-right:auto;
    max-width:1680px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; */
}

.gallery-image {
    width: 300px; /* Set the width to make the images smaller */
    height: 400px; /* Set the height to make the images smaller */
    object-fit: cover;
    margin: 5px;
  }

/* .container {
    display: grid;
    grid-template-rows:repeat(5, 100px);
    grid-template-columns:repeat(19, 100px);
} */

.outside{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
}

.text{
    width: 50%;
    display: flex;
    background-color: green;
}

.pics{
    width: 50%;
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}


.pic1 img{
    width: 70%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.pic1, .pic2{
    height: 50%;
    display: flex;
}
.pic1{
    background-color: red;
}


/*The css code for the footer starts below*/
.foot1{
    display: flex;
    padding: 4vh 5vw;
    justify-content: space-between;
}

.foot1 > ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.footleft{
    flex: 1;
    width: 100%;
    max-width: 25vw;
    /*margin: 1em 0;  */ 
    /*padding: 0;*/
    
      
}

.exploreheader{
    border-bottom: 2px solid rgb(46, 46, 46); 
    display: flex;
    align-items: center;
    margin-bottom: 1em;

}

.explore{
    color: white;
    margin: 1em 0;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.4em;
    padding: 0;
}

.explorelist17{
    padding: 0;
    list-style: none;
    line-height: 1rem;
    margin-left: 0;
    /*column-count: 2; */    /*(This cuts off the us and puts it in anothe rcolumn*/ 
   
}

.explorelist17 > li{
    margin-bottom: 0.75rem;
}


.explorelist20{
    color: #b3b3b3;
    font-size: 1rem;  
    
}

.footerend{
    display: flex;
    padding: 30px 5vw;
    border-top: 2px solid rgb(29, 29, 29);
    flex-direction: column;   
}

.footerpics{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

.footerlogo{
    display: flex;
    align-items: center; 
    padding: 20px 0;                
} 




